.footer-top {
  background-color: #373737;
}
.footer-bottom {
  background-color: #262626;
}
.widget-text-2 .header-contact li {
  display: block;
  margin-bottom: 20px;
  padding-left: inherit;
  text-align: left;
}

h3.widget-title {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 30px;
  padding-bottom: 10px;
  position: relative;
  text-transform: capitalize;
}
h3.widget-title:before{
  background: #fff none repeat scroll 0 0;
  bottom: 0px;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  transition: all 0.4s ease 0s;
  width: 50px;
}

.widget-text > p {
  color: #fff;
}
.widget-social li {
  display: inline-block;
  margin-right: 10px;
}
.widget-text.widget-social a {
  background-color: #fff;
  border-radius: 50%;
  color: #555;
  display: inline-block;
  height: 30px;
  line-height: 32px;
  text-align: center;
  width: 30px;
    transition: all .3s ease 0s;
}
.widget-social.widget-social a:hover {
  background-color: #ffbf3b;
  color: #fff;
}

.widget-social > ul {
  margin-top: 29px;
}


.widget-text-2 .header-contact a, .widget-text a {
  color: #fff;
  display: block;
  text-transform: capitalize;
  transition: all 0.3s ease 0s;
}
.widget-text-2 .header-contact a:hover, .widget-text a:hover {
  color: #ffbf3b;
}
.widget-text-2 .header-contact a i{
  color: #fff;
}

.widget-text li {
  margin-bottom: 10px;
}

.widget-text li {
  color: #fff;
  text-transform: capitalize;
}
.widget-text li:last-child,.widget-text-2 .header-contact li:last-child {
  margin-bottom: 0;
}
.widget-text li span{
  float: right;
}

.copyright > p {
  color: #fff;
}
.copyright > p a{
  color: #fff;
}
.copyright > p a:hover{
  text-decoration: underline;
}






















